.card
    background-color: white
    border: 2px solid grey

.grid
    display: flex
    flex-wrap: wrap
    justify-content: flex-start

    .card
        width: 25%
        min-width: 300px
        margin: 20px
        padding: 20px
        border-radius: 8px
        margin-bottom: 20px

        .name
            display: flex
            gap: 20px

        .timeLimit
            width: 100%
            height: 40px
            font-size: 20px

.flex
    display: block

    .card
        min-width: 300px
        margin: 20px 2%
        padding: 20px
        border-radius: 8px
        margin-bottom: 20px

        .name
            display: flex
            gap: 20px

        .timeLimit
            width: 100%
            height: 40px
            font-size: 20px