.controlPanel
    display: flex
    height: 4vh

    .dropdown

        li
            min-width: 100px
            min-height: 20px
            background-color: green

    .sortAndFilter
        display: flex
        z-index: 2

        div
            display: block