@import '../../../../StyleVars.sass'

.schedule
    width: 90%
    display: grid
    gap: 0
    border: 1px solid black

    .scheduleCell
        border: inherit
        min-height: 98px

    .scheduleItem
        padding: 1rem
        border: 1px solid #ccc
        border-radius: $radius
        background-color: #f9f9f9
        box-shadow: $shadow

    div
        overfrow: hidden

    h3
        margin: 0
        font-size: $space-big
        color: #333

    p
        margin: $space-big 0
        font-size: $space-medium
        color: #666

    .event
        position: absolute
        overflow: hidden
        text-overflow: ellipsis
        border: 1px solid $tertiary-color
        white-space: pre-line

    .eventBg
        background-color: rgba($secondary-color, 0.2)

    .overlapBg
        background-color: rgba($highlight-color, 0.2)
