@import '../../../../StyleVars.sass'
@import '../../../base/buttons.sass'

.control-panel
    height: $control-panel-height

    display: flex
    align-items: center

    background-color: $main-color

    .dropdown

        li
            min-width: 100px
            min-height: $space-large

            background-color: $main-color

    .sort-and-filter
        display: flex
        z-index: 2

        div
            display: block