//size

$header-height: 11vh
$main-height: calc(100vh - $header-height)
$control-panel-height: 7vh
$content-height: calc($main-height - 2 * $control-panel-height)

//margin and padding
$space-small: 5px
$space-medium: 10px
$space-big: 15px
$space-large: 25px

//border

$radius: 5px
$circle: 50%

//colors

$main-color: #f8f8f8
$secondary-color: #0066aa
$tertiary-color: #5c5c5c

$main-text-color: #111111
$secondary-text-color: #eeeeee
$tertiary-text-color: #225577

$hover-color: #11111124

$highlight-color: #ee2211

//fonts

$font-small: 12px
$font-medium: 14px
$font-big: 20px
$font-large: 28px

//complex styles

$shadow: 0 2px 5px $hover-color