@import '../../../base/buttons.sass'

.actions
    display: flex
    flex-direction: column
    justify-content: flex-start
    position: relative
    
    touch-action: none

    &:hover
        button
            opacity: 1
            pointer-events: auto