@import '../../../StyleVars.sass'

.itemList
    height: $content-height

    margin: 0 0 $control-panel-height 0
    padding: $control-panel-height 0 0 0

    max-height: $content-height
    overflow-y: auto