@import '../../../StyleVars.sass'

.drag-handle
    margin-bottom: 0.5rem
    
    color: $tertiary-color

    font-size: 1.3rem
    
    user-select: none
    cursor: grab

.add-button
    margin-top: 0.5rem
    padding: 0

    border: none

    color: $secondary-color
    background: none

    font-size: 0.9rem
    
    cursor: pointer

    &:hover
        text-decoration: underline
